
<h1>Update Patient</h1>
 
<h2>Edits for <%= @patient.name %></h2>
 
  <form action="/patients/id" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Patient's Name:</label><br>
    <input type="text" name="patient[name]" value="<%= @patient.name %>"><br>
    <label>Edit Patient's Username:</label><br>
    <input type="text" name="patient[username]" value="<%= @patient.username%>"><br>
    <label>Edit Patient's Email:</label><br>
    <input type="text" name="patient[email]" value="<%= @patient.email%>"><br>
    <label>Edit Patient's Password:</label><br>
    <input type="text" name="patient[password]" value="<%= @patient.password%>"><br>
    <br>    
    
    <label>Available Doctors:</label><br>
    <%if @doctors.size != 0%>
      <%@doctors.each do |doctor|%>
        <input type="radio" name="patient[doctor_id]" id="<%= doctor.id %>" value="<%= doctor.id %>" <%= 'checked' if @patient.doctor == doctor %>><%= doctor.name %></input>
        <%end%><br>
      <%else%>
      <p>There are no doctors available at this moment.<p>
      <%end%>
      <br>
    <input type="submit" value="Update Patient">
  </form>