<h2>Patient name: <%=@patient.name%></h2><br>

<form action="/doctors/edit_patient" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

    <label>Patient information:</label><br>
    <%=@patient.name%><br>
    <input type="button" name="patient_id" id="<%= @patient.id %>" value="<%=@patient.id%>"</input><br>
    <br>
    <h4>Patient medicins:</h4>
    <%if !@patient.medicins.empty?%>
      <% @patient.medicins.each do |medicin|%>
        <li>
        <input type="checkbox" name="medicin_name" id="<%= medicin.id %>" value="<%=medicin.name%>"</input><br>
        <input type="text" name="medicin_notes" id="<%= medicin.notes %>" value="<%=medicin.notes%>"</input><br>
        </li>
        <%end%><br>
      <%else%>
      <p>There are no medicins for this patient at this moment.<p>
      <%end%>
      <h4>To prescribe a medicin to this patient:</h4>
      <input type="text" name="medicin_name" id="medicin_id" value="medicin_name"</input><br>
      <input type="textbox" name="medicin_notes" id="medicin_notes" value="medicin_notes"</input><br>
    <input type="submit" value="Edit Patient Medicins">
  </form>